# Ignore node_modules in all subfolders
node_modules/

# Ignore all environment variable files
.env
.env.*

# Ignore build and dist outputs
build/
dist/

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
# Firebase secrets
Server/firebase/firebase-adminsdk.json
Client/src/firebase.js
